<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.silentsoftware.rayne.bluetoothroundrobin">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />

        <service
            android:name=".RoundRobinService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".TaskerEditActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_tasker_edit"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".TaskerFireReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":background"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortfouryam.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
